<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.httpmilenacabrera.guia62_iglesias">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/church"
        android:label="Iglesias"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IglesiaActivity"></activity>
    </application>

</manifest>